@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

:root {
    --bg: #131313;
    --review-bg: #e6bd09;
    --white: #f1f1f1;
    --h2-color: #4682b4;
    --p-color: #bdbdbd;
}

* {
    font-family: Roboto, sans-serif;
}

body {
    background-color: var(--bg);
}

h1 {
    color: var(--white);
}

h2 {
    color: var(--h2-color);
}

p {
    color: var(--p-color);
}

a {
    color: var(--review-bg)
}

.media-picture {
    height: 400px;
    background-image: url("https://img.elo7.com.br/product/zoom/1406A59/banner-painel-tematico-harry-potter-imas.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.review-score {
    color: var(--white);
    background-color: var(--review-bg);
    padding: 12px;
}